/Giorno1/


/esercizio2.py
/Climate_risks.py
/asd.py
/Data_Science/
/Giorno3/
/Giorno5/
/esercizio4.py
/Giorno2/
/esercizio1.py
/esercizio_sommatoria.py
/Funzioni.py
/Introduzione.py
/introduzione 2.py
/main.py
/names.txt
/modifica sommatoria.py
/Pandas_guide.py
/prova_conteggio_parole.py
/sito.py
